server:
  port: 8765
  error:
    include-stacktrace: never
    include-message: always
spring:
  config:
    import:
      - 'optional:configserver:'
  webflux:
    problemdetails:
      enabled: true
  application:
    name: bridgewayhub
  devtools:
    add-properties: false
    restart:
      enabled: false
    livereload:
      enabled: false
  security:
    oauth2:
      client:
        provider:
          keycloak:
            token-uri: ${KC_TOKEN_URI}
            issuer-uri: ${KC_ISSUER_URI}
            authorization-uri: ${KC_AUTH_URI}
            jwk-set-uri: ${KC_JWKS_URI}
            user-info-uri: ${KC_USER_INFO_URI}
            user-name-attribute: preferred_username
            user-info-authentication-method: header
        registration:
          bridgewayhub:
            provider: keycloak
            client-id: ${KC_CLIENT_ID}
            client-secret: ${KC_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            scope:
              - discovery:rw
              - config:ro
      resourceserver:
        jwt:
          issuer-uri: ${KC_ISSUER_URI}
          jwk-set-uri: ${KC_JWKS_URI}
        opaquetoken:
          introspection-uri: ${KC_INTROSPECTION_URI}
          client-id: ${KC_CLIENT_ID}
          client-secret: ${KC_CLIENT_SECRET}
  cloud:
    config:
      enabled: false
    gateway:
      server:
        webflux:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
            - TokenRelay=
          globalcors:
            corsConfigurations:
              '[/**]':
                allow-credentials: true
                allowed-origin-patterns: '*'
                allowed-headers: '*'
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                  - OPTIONS
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          loadbalancer:
            use404: true
          routes:
    #        - id: keycloak
    #          uri: ${KC_HOST}
    #          predicates:
    #            - Path=/oauth2/**
    #            - Method=POST,GET
    #          filters:
    #            - RewritePath=/oauth2/(?<segment>.*),/realms/${KC_REALM}/$\{segment}
            - id: kloudy
              uri: lb://kloudy
              predicates:
                - Path=/api/v1/**
  rabbitmq:
    host: localhost
    port: 5672
    username: rabbit
    password: rabbit
eureka:
  instance:
    instance-id: ${spring.application.name}
    app-group-name: justedlev-msrv
    appname: ${spring.application.name}
    hostname: localhost
    prefer-ip-address: true
    metadata-map:
      prometheus:
        scrape: true
        path: /actuator/prometheus
  client:
    webclient:
      enabled: true
    eureka-server-port: 8761
    service-url:
      defaultZone: http://eureka:eureka${eureka.instance.hostname}:8761/eureka/
management:
  server:
    port: 7765
  info:
    build:
      enabled: true
    os:
      enabled: true
    defaults:
      enabled: true
    java:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
springdoc:
  show-actuator: true
logging:
  file:
    path: ./logs
    name: ${LOGGING_FILE_PATH:${logging.file.path}}/latest.log
  threshold:
    console: info
  level:
    root: info
    web: debug
bridgewayhub:
  security:
    whitelist:
      GET:
        - /webjars/**
        - /v3/api-docs/**
        - /swagger-ui.html
        - /swagger-ui/**
        - /swagger-resources
        - /swagger-resources/**
        - /configuration/ui
        - /configuration/security
        - /actuator/**
        - /error
      POST:
        - /sso/logout
        - /logout
