server:
  port: 8765
  error:
    include-stacktrace: never
    include-message: always
spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration
      - org.springframework.boot.autoconfigure.security.oauth2.client.OAuth2ClientAutoConfiguration
      - org.springframework.boot.autoconfigure.security.oauth2.resource.servlet.OAuth2ResourceServerAutoConfiguration
  webflux:
    problemdetails:
      enabled: true
  application:
    name: bridgewayhub
  devtools:
    add-properties: false
    restart:
      enabled: false
    livereload:
      enabled: false
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
            - TokenRelay=
          globalcors:
            corsConfigurations:
              '[/**]':
                allow-credentials: true
                allowed-origin-patterns: '*'
                allowed-headers: '*'
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                  - OPTIONS
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          loadbalancer:
            use404: true
    config:
      enabled: false
  rabbitmq:
    enabled: false
management:
  server:
    port: -1
  endpoints:
    access:
      default: none
