server:
  port: 8765
  error:
    include-stacktrace: never
    include-message: always
spring:
  webflux:
    problemdetails:
      enabled: true
  application:
    name: bridgewayhub
  devtools:
    add-properties: false
    restart:
      enabled: false
    livereload:
      enabled: false
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
            - TokenRelay=
          globalcors:
            corsConfigurations:
              '[/**]':
                allow-credentials: true
                allowed-origin-patterns: '*'
                allowed-headers: '*'
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                  - OPTIONS
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          loadbalancer:
            use404: true
    config:
      enabled: false
eureka:
  instance:
    instance-id: ${spring.application.name}
    app-group-name: justedlev-msrv
    appname: ${spring.application.name}
    hostname: localhost
    prefer-ip-address: true
    metadata-map:
      prometheus:
        scrape: true
        path: /actuator/prometheus
  client:
    webclient:
      enabled: true
    eureka-server-port: 8761
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${eureka.client.eureka-server-port}/eureka/
management:
  server:
    port: -1
springdoc:
  show-actuator: true
