server:
  port: 8765
spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.amqp.autoconfigure.RabbitAutoConfiguration
      - org.springframework.boot.security.oauth2.server.resource.autoconfigure.reactive.ReactiveOAuth2ResourceServerAutoConfiguration
      - org.springframework.boot.security.oauth2.client.autoconfigure.reactive.ReactiveOAuth2ClientAutoConfiguration
  web:
    error:
      include-stacktrace: never
      include-message: always
  webflux:
    problemdetails:
      enabled: true
  application:
    name: bridgewayhub
  profiles:
    group:
      standalone:
        - oauth2
        - discovery
        - management
        - config-client
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
            - TokenRelay=
          globalcors:
            corsConfigurations:
              '[/**]':
                allow-credentials: true
                allowed-origin-patterns: '*'
                allowed-headers: '*'
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                  - OPTIONS
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
    config:
      enabled: false
    bus:
      enabled: false
    discovery:
      enabled: false
      reactive:
        enabled: false
  rabbitmq:
    enabled: false
  security:
    oauth2:
      client:
        enabled: false
      resourceserver:
        enabled: false
management:
  server:
    port: -1
eureka:
  client:
    enabled: false
