<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Debug file appender -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${DEBUG_FILE:-${LOG_PATH}/debug.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DEBUG_FILE_NAME_PATTERN:-${DEBUG_FILE}.%d{yyyy-MM-dd}.%i.gz}</fileNamePattern>
            <maxFileSize>${DEBUG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${DEBUG_FILE_MAX_HISTORY:-7}</maxHistory>
            <totalSizeCap>${DEBUG_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Trace file appender -->
    <appender name="TRACE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${TRACE_FILE:-${LOG_PATH}/trace.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${TRACE_FILE_NAME_PATTERN:-${TRACE_FILE}.%d{yyyy-MM-dd}.%i.gz}</fileNamePattern>
            <maxFileSize>${TRACE_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${TRACE_FILE_MAX_HISTORY:-7}</maxHistory>
            <totalSizeCap>${TRACE_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Root Logger Configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="TRACE_FILE"/>
    </root>
</configuration>
