<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="io/justedlev/msrv/bridgeway/logging/debug-file-appender.xml"/>

    <logger name="root" level="debug" additivity="false">
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
</configuration>
