name: justedlev-msrv
services:
  api-gateway.justedlev.io:
    tty: true
    env_file:
      - .env
    container_name: bridgewayhub
    image: justedlev/bridgewayhub:latest
    build:
      context: ../
      dockerfile: docker/Dockerfile
    ports:
      - "8765:5000"
      - "8766:5005"
    deploy:
      resources:
        limits:
          cpus: "0.75"
          memory: 512MB
